<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1032954564846-tje5m8l00gndsl11dri8nqi47pramtoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032954564846-tje5m8l00gndsl11dri8nqi47pramtoa</string>
	<key>API_KEY</key>
	<string>AIzaSyDgOPe8yCVQr76VI2e9ArXzfofd44-Wvos</string>
	<key>GCM_SENDER_ID</key>
	<string>1032954564846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MakeSchool</string>
	<key>PROJECT_ID</key>
	<string>makestagram-d4bfb</string>
	<key>STORAGE_BUCKET</key>
	<string>makestagram-d4bfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032954564846:ios:c2aad77085606158</string>
	<key>DATABASE_URL</key>
	<string>https://makestagram-d4bfb.firebaseio.com</string>
</dict>
</plist>